/Obligatorio_p1/obj/project.nuget.cache
/LogicaDeNegocio/obj/project.nuget.cache
/.vs
/LogicaDeNegocio/obj/Debug/net7.0/LogicaDeNegocio.assets.cache
/LogicaDeNegocio/obj/LogicaDeNegocio.csproj.nuget.dgspec.json
/LogicaDeNegocio/obj/Debug/net7.0/LogicaDeNegocio.GeneratedMSBuildEditorConfig.editorconfig
/LogicaDeNegocio/obj/LogicaDeNegocio.csproj.nuget.g.props
/LogicaDeNegocio/obj/project.assets.json
/Obligatorio_p1/obj/Debug/net7.0/Obligatorio_p1.assets.cache
/Obligatorio_p1/obj/Debug/net7.0/Obligatorio_p1.csproj.AssemblyReference.cache
/Obligatorio_p1/obj/Debug/net7.0/Obligatorio_p1.GeneratedMSBuildEditorConfig.editorconfig
/Obligatorio_p1/obj/Obligatorio_p1.csproj.nuget.dgspec.json
/Obligatorio_p1/obj/Obligatorio_p1.csproj.nuget.g.props
/Obligatorio_p1/obj/project.assets.json
