
<div>
    <form method="post" >
        <input type="hidden" value="@ViewBag.nombreProv" name="nombreProveedor" /> <br /> <br />
        <label>Valor de promocion</label> <br />
        <input name="valorPromocion" /><br /><br />
        <input type="submit" />

    </form>
</div>