@using LogicaDeNegocio

<div>
    <table>



    </table>
    @foreach(Proveedor prov in AdminHostel.GetInstancia.ListarProveedores())
    {
        
    }

    <table class="table">
        <thead class="thead-dark alignTextCenter">
            <tr>
                <th scope="col">Nombre del Proveedor</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Descuento</th>
                <th scope="col" style="text-align:left">Mod. Descuento</th>
            </tr>
        </thead>
        <tbody class="alignTextCenter">
            @foreach(Proveedor prov in AdminHostel.GetInstancia.ListarProveedores())
            {
                <tr>
                    <td>@prov.NombreProveedor</td>
                    <td>@prov.DireccionProveedor</td>
                    <td>@prov.TelefonoProveedor</td>
                    <td>@prov.DescuentoFijo</td>
                    <td>
                        <div class="button-div">
                            <a style="color:#ffffff; text-decoration: none;" href="~/Proveedor/EstablecerPromocion?nombreProveedor=@prov.NombreProveedor"> Modificar </a>

                        </div>
                    </td>
                </tr>
                
                                
            }
            
        </tbody>
    </table>


</div>
