@using LogicaDeNegocio

<div>
    <h2 class="alignTextCenter">Lista de agendas</h2>

    <div class="displayFlex alignTextCenter">
        <form method="post" >
            <label for="docHuesped" style="margin-bottom:2%">Seleccione un huesped</label> <br />
            <input class="form-control" class="alignAgendas" type="text" name="docHuesped" /> <br />
            <select class="form-select" class="alignAgendas" name="tipoDocumento"> 
                <option value="@TipoDocumento.CI" selected>CI</option>
                <option value="@TipoDocumento.PASAPORTE">Pasaporte</option>
                <option value="@TipoDocumento.OTROS">Otro</option>
            </select> <br />
            <input type="submit" class="btn btn-primary" value="Buscar" />

        </form>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre del Huesped</th>
                <th scope="col">Actividad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Lugar</th>
                <th scope="col">Costo final</th>
                <th scope="col">Proveedor </th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
    </table>
</div>