@using LogicaDeNegocio
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (@AdminHostel.GetInstancia.BuscarPorEmail(Context.Session.GetString("email")) != null){

        <h1 class="display-4">Welcome @AdminHostel.GetInstancia.BuscarPorEmail(Context.Session.GetString("email")).Email </h1>
    } else
    {
        <h1 class="display-4"> ¡Bienvenido a nuestro Hostel! </h1>
        <div> 
            <h6> <a asp-action="Index" asp-controller="Login"> Ir al Login </a> </h6>
        </div>
    }

</div>


     
    
