@using LogicaDeNegocio
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @AdminHostel.GetInstancia.BuscarPorEmail(Context.Session.GetString("email")).Email </h1>
    
</div>
